PORT=3001
NODE_ENV=development

DATABASE_URL="file:./data/dev.db"

JWT_SECRET=change-this-to-a-long-random-string-min-32-chars
JWT_EXPIRES_IN=7d

FRONTEND_URL=http://localhost:3000

APPS_DIR=/var/www/apps

NGINX_AVAILABLE=/etc/nginx/sites-available
NGINX_ENABLED=/etc/nginx/sites-enabled

CERTBOT_EMAIL=admin@example.com

NGINX_LOG_DIR=/var/log/nginx
